.cdeposit,
.cborrow {
  background: #222b52;
  padding-bottom: 62px;
}
.container {
  width: 83%;
  margin: auto;
  display: flex;
  grid-gap: 27px;
}
.listmodal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 18px;
  background-color: #353f68;
  border-radius: 15px 15px 0px 0px;
  width: 68%;
}
.listmodalheader {
  background: #4e5984;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 27px;
  padding: 18px 20.5px 16px 27px;
  border-radius: 15px 15px 0px 0px;
}
.listmodalright {
  display: flex;
  align-items: center;
  grid-gap: 17px;
}
.normal,
.normalblue,
.hasset,
.integrate1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.normalblue {
  color: rgba(135, 212, 255, 1);
}
.searchpart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  background: #4e5984;
  border-radius: 50px;
  padding: 10px 14px 8px 14px;
  display: flex;
  width: 30%;
}
.searchinput {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.3;
  width: 100%;
}
.searchinput::placeholder {
  color: #ffffff;
}
.tablecontainer {
  width: 93%;
  margin: auto;
}
.tableheader {
  background: #4e5984;
  padding: 21px;
  display: flex;
  align-items: center;
}
.integrate {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 6px;
}
.integrate1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 8px;
}
.opacity {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 13px;
  color: #919ebe;
}
.tablebody {
  max-height: 400px;
  overflow-y: auto;
  background: #353f68;
  padding-bottom: 30px;
  border-radius: 0px 0px 15px 15px;
}
.tablebody::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.tablebody::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 10px;
}

/* Handle */
.tablebody::-webkit-scrollbar-thumb {
  opacity: 0.2;
  border-radius: 30px;
  background: #8996ca;
  height: 5em;
}

.tr {
  background: #353f68;
  padding: 13px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #161e3f;
}
.tr:hover {
  opacity: 0.7;
  transition: 0.3s;
}
.assets,
.reassets {
  display: flex;
  align-items: center;
  grid-gap: 14px;
}

.title,
.ballance,
.rate {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.rate {
  width: 100px;
}

.hasset,
.assets {
  width: 100px;
}
.integrate1,
.ballance {
  width: 35%;
}
.resultmodal {
  width: 40%;
}
.resultmodalheader {
  background: #4e5984;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 27px;
  padding: 18px 20.5px 16px 27px;
  border-radius: 15px 15px 0px 0px;
}
.resultmodalbody {
  padding: 16px 23px 14px 23px;
  background: #353f68;
  border-radius: 0px 0px 15px 15px;
}
.modalbody,
.resultmodalfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resultmodalfooter {
  padding-top: 14px;
}
@media screen and (max-width: 1186px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .listmodal {
    width: 100%;
  }
  .resultmodal {
    width: 50%;
  }
  .title,
  .ballance,
  .rate {
    font-size: 12px;
  }
  .normal,
  .hasset,
  .integrate1 {
    font-size: 10px;
  }
}
@media screen and (max-width: 666px) {
  .resultmodal {
    width: 90%;
  }
}
