.header {
  background: #4e5984;
  padding-top: 18px;
  padding-bottom: 16px;
}
.container1 {
  width: 83%;
  margin: auto;
  display: flex;
  grid-gap: 1px 60px;
}
.container {
  width: 83%;
  margin: auto;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}
.group {
  display: flex;
  align-items: center;
  grid-gap: 15px;
}
.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}
.amount {
  font-family: Poppins;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}
.other {
  background: #222b52;
}
.modal {
  background: #353f68;
  box-shadow: 0px 0px 15px rgba(21, 28, 61, 0.25);
  border-radius: 15px;
  padding: 19px 27px 17px 27px;
}
.modaltitle {
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.modalborder {
  margin: 17px 0 19px 0;
  border: 1px solid #161e3f;
}
.modalcontent {
  display: flex;
  justify-content: space-between;
}
.mgroup1 {
  display: flex;
  width: 35%;
  grid-gap: 130px;
}
.mgroup2 {
  display: flex;
  width: 40%;
  grid-gap: 81px;
}
.mgroup3 {
  display: flex;
  grid-gap: 18px;
}
.minimize {
  display: flex;
  grid-gap: 8.5px;
}
.price {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.yes {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #35d387;
}
.deposit {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.dtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  padding-bottom: 20px;
}
.dcontent {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
}
.labels {
  display: flex;
  grid-gap: 120px;
  padding: 45px 20px 5px 20px;
}
.label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.values {
  background: #161e3f;
  border-radius: 50px;
  display: flex;
  padding: 26px 34px 23px 35px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 17px;
}
.max {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #3881d8;
}
.input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
}
.slidercontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sliderlabels {
  width: 80%;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.safer {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #35d387;
}
.ghost {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #202020;
}
.risker {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ff8c21;
}
.slider {
  margin-top: 15px;
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  background: linear-gradient(65.4deg, #47c488 18.74%, #ffab87 88.33%);
  border-radius: 25px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 33px;
  height: 33px;
  background: #ffffff;
  box-shadow: 0px 0px 15px rgba(21, 28, 61, 0.25);
  border-radius: 15px;
  cursor: pointer;
}
.continue {
  margin-top: 44px;
  margin-bottom: 71px;
  padding: 13px 38px 11px 38px;
  background: linear-gradient(65.4deg, #4e89fe 18.74%, #6ac7fc 88.33%);
  border-radius: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 1152px) {
  .mgroup1 {
    grid-gap: 70px;
  }
}
@media screen and (max-width: 1122px) {
  .container1 {
    display: flex;
    align-items: center;
  }
  .title {
    font-size: 12px;
  }
  .amount {
    font-size: 16px;
  }
}
@media screen and (max-width: 660px) {
  .container1 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1030px) {
  .modalcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mgroup1 {
    display: flex;
    width: 80%;
    grid-gap: 131px;
  }
  .mgroup2 {
    display: flex;
    width: 80%;
    grid-gap: 81px;
  }
  .mgroup3 {
    display: flex;
    width: 80%;
    grid-gap: 46px;
  }
}
@media screen and (max-width: 540px) {
  .modaltitle {
    font-size: 10px;
  }
  .hideminimize {
    display: none;
  }
  .price,
  .yes {
    font-size: 10px;
  }
  .mgroup1 {
    display: flex;
    width: 100%;
    grid-gap: 111px;
  }
  .mgroup2 {
    display: flex;
    width: 100%;
    grid-gap: 81px;
  }
  .mgroup3 {
    display: flex;
    width: 100%;
    grid-gap: 61px;
  }
}
@media screen and (max-width: 466px) {
  .dtitle {
    font-size: 16px;
  }
  .dcontent {
    font-size: 11px;
  }
  .values {
    padding: 16px 34px 13px 35px;
  }
  .labels {
    display: flex;
    grid-gap: 80px;
  }
  .label {
    font-size: 10px;
  }
  .max {
    width: 16%;
  }
}
