/* #222b52 #353f68 #4e5984 */
.mydashboard {
  background: #222b52;
  padding-top: 66px;
  padding-bottom: 77.5px;
}
.container {
  width: 83%;
  margin: auto;
  display: flex;
  grid-gap: 10px;
}
.leftmodal,
.rightmodal {
  width: 49.5%;
}
.lheader,
.rheader {
  background: #4e5984;
  border-radius: 15px 15px 0px 0px;
  padding: 18px 14px 16px 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  width: auto;
}
.rheader {
  display: flex;
  justify-content: space-between;
}
.minimize {
  display: flex;
  grid-gap: 8.5px;
}
.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #353f68;
  padding: 33px 14px 40.75px 14px;
}
.progressbar {
  width: 110px;
  height: 110px;
  position: relative;
}
.normal,
.size {
  display: flex;
  grid-gap: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  color: #ffffff;
}
.normal {
  font-size: 14px;
}
.small {
  font-size: 12px;
}
.progressgroup {
  display: flex;
  grid-gap: 15px;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.ptitle1 {
  display: grid;
  grid-template-areas:
    "item1 item2"
    "item3 item4";
  grid-gap: 17px 38px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.btn {
  padding: 6.41px;
  border: 1px solid;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #4e89fe;
  border-radius: 24.6479px;
}

.table {
  width: 100%;
  overflow-x: auto;
  /* border-spacing: 0; */
}
.table::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.table::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey;
  border-radius: 10px;
}

/* Handle */
.table::-webkit-scrollbar-thumb {
  opacity: 0.2;
  border-radius: 30px;
  background: #8996ca;
}

.table > * {
  min-width: 580px;
}
.tbody {
  padding-bottom: 25.5px;
  border-radius: 0 0 15px 15px;
}

.thead {
  display: flex;
  align-items: center;
  background-color: #4e5984;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* border-collapse: collapse; */
}

.tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353f68;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* border-collapse: collapse; */
}
.child {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #161e3f;
}
.thead div {
  padding: 10px;
  color: white;
  text-align: center;
  border: none;
}
.child div {
  padding: 10px;
  color: white;
  text-align: center;
}
.merge,
.bdeposits {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bdeposits {
  text-align: left !important;
}
.opacity {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #4e5984 !important;
}
.deposit {
  background: linear-gradient(65.4deg, #4e89fe 18.74%, #6ac7fc 88.33%);
  border-radius: 24.6479px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
  padding: 4px 18px;
  width: 50%;
  cursor: pointer;
}
.withdraw {
  border-radius: 24.6479px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 13px;
  color: #4e89fe !important;
  border: 1px solid #4e89fe !important;
  text-align: center;
  padding: 4px 18px;
  width: 50%;
  cursor: pointer;
}
.bspace {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
}
.deposits {
  text-align: left !important;
}
.deposits,
.bdeposits {
  width: 20%;
}
.ballance,
.bballance,
.profit,
.bprofit {
  width: 18%;
}
.merge,
.bmerge {
  width: 25%;
}
.space,
.bspace {
  width: 35%;
}
.bmerge {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
}
@media screen and (max-width: 1264px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .leftmodal,
  .rightmodal {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .progress {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
}
/* toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: #35d387;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.yes {
  color: #35d387;
}
