.footer {
  padding-top: 54px;
  padding-bottom: 63px;
  background: #222b52;
}
.container {
  width: 83%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  grid-gap: 50px 120px;
}
.image {
  display: flex;
  flex-direction: column;
  grid-gap: 65px;
  cursor: pointer;
}
.social {
  display: flex;
  grid-gap: 31px;
  cursor: pointer;
}
.context {
  display: flex;
  grid-gap: 102px;
}
.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}
.content {
  display: flex;
  grid-gap: 52px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #d0d5eb;
  transition: 0.5s;
  cursor: pointer;
}
.border {
  padding: 1px;
  background: linear-gradient(100.97deg, #00345e 1.34%, #588aaf 95.15%);
}

.sctotal {
  display: flex;
  grid-gap: 15px 100px;
}
.logo {
  width: 220px;
}
@media screen and (max-width: 1258px) {
  .title {
    font-weight: bold;
    font-size: 22px;
  }
  .content {
    display: flex;
    grid-gap: 1px 48px;
    font-family: Poppins;
    font-size: 16px;
    color: #d0d5eb;
  }
}
@media screen and (max-width: 1178px) {
  .sctotal {
    display: flex;
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 830px) {
  .title {
    font-size: 18px;
  }
  .content {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  .context {
    display: flex;
    grid-gap: 52px;
  }
}
